name: Android CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build & Upload Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm install
          cd android && chmod +x gradlew
          cd ..

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Release APK
        run: |
          cd android
          ./gradlew assembleRelease --stacktrace
        # no env needed here

      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.ANDROID_FIREBASE_APP_ID }}
          token: ${{ secrets.ANDROID_FIREBASE_TOKEN }}
          groups: testers
          file: android/app/build/outputs/apk/release/app-release.apk
