name: Android CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build & Upload to Firebase
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      
      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

     
      - name: Verify Node version
        run: |
          node -v
          which node

      
      - name: Install dependencies
        run: |
          npm ci
          cd android && chmod +x gradlew

      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      
      - name: Clean Gradle
        run: |
          cd android
          ./gradlew clean

      
      - name: Build Release APK
        run: |
          cd android
          export NODE_BINARY=$(which node)
          echo "NODE_BINARY=$NODE_BINARY"
          ./gradlew assembleRelease --stacktrace
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"

      
      - name: Upload to Firebase
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.ANDROID_FIREBASE_APP_ID }}
          
          serviceCredentialsFileContent: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          groups: testers
          file: android/app/build/outputs/apk/release/app-release.apk
